#logo {
  margin-left: 0.3vw;
}
#logo img {
  height: 5vh;
  width: 2.5vw;
  background-color: aliceblue;
}
nav {
  font-family: cursive;
}
.carousel-item {
  height: 95vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 20px;
}
.carousel-item img {
  height: 90%;
  width: 90%;
  border-radius: 20px;
}
